@import "tailwindcss";

/* ================= RESET ================= */

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.sidebar-no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.sidebar-no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ================= ANIMATIONS ================= */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}